.card-main {
    border: 1px solid #cfcdcd;
    width: 640px;
    border-radius: 2px;
    
}

.text-card {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -15px;
    border-top: 10px solid #cfcdcd;
}

.link-card {
    color: gray;
}

p {
    margin-top: -17px;
}