body {
    background:#fff;
    color: #000;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    
}

p{
    font-size: 18px;
}

.left-side{
    margin-left: 43px;
    float: left;
}

.right-side{
    margin-left: 90px;
}

